@use "/src/styles/tokens/semantics" as *;

.header {
  padding: var(--s-spacing-4) var(--s-spacing-app-horizontal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--s-color-bg-primary);
  color: var(--s-color-fg-primary);
  z-index: 10;
  height: var(--s-header-height);

  @include screen-sm {
    padding: var(--s-spacing-6) var(--s-spacing-app-horizontal);
  }

  &__nav {
    display: flex;
    gap: var(--s-spacing-5);
    align-items: center;
  }

  &__lhs {
    display: flex;
    align-items: center;
    gap: var(--s-spacing-13);
  }

  &__rhs {
    display: flex;
    align-items: center;
    margin-left: var(--s-spacing-6);
    gap: var(--s-spacing-6);

    @include screen-sm {
      margin-left: var(--s-spacing-8);
      gap: var(--s-spacing-8);
    }
  }

  &__actions {
    transition: scale 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--s-color-fg-primary);

    @include screen-sm {
      height: 24px;
      width: 24px;
    }

    @include screen-mouse-first {
      &:hover {
        scale: 1.0;
      }
    }

    @include screen-touch-first {
      &:active {
        scale: 1.0;
      }
    }
  }

  &__language_dropdown {
    position: relative;
    display: flex;
    align-items: center;

    &__container {
      position: absolute;
      top: calc(100% + var(--s-spacing-2));
      right: 0;
      background-color: var(--s-color-bg-primary);
      border: 1px solid var(--s-color-border-primary);
      border-radius: var(--s-radius-3);
      box-shadow: var(--s-shadow-2);
      z-index: 100;
      min-width: 160px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: all 0.25s ease-in-out;
      color: var(--s-color-fg-primary);
    }

    &__container--visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &__option {
      padding: var(--s-spacing-3) var(--s-spacing-4);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background-color 0.2s ease;
      color: var(--s-color-fg-primary);

      &:hover {
        background-color: var(--s-color-bg-secondary);
      }

      &--active {
        background-color: var(--s-color-bg-tertiary);
        font-weight: 500;
        color: var(--s-color-fg-primary);
      }
    }
  }
}
