@use "/src/styles/tokens/semantics" as *;

.animated-logo-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  z-index: 9999;
  transition: opacity 0.5s ease-out;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @media (max-height <= 600px) {
    align-items: center;
  }
}


@keyframes draw-line {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes fill-in {
  from {
    fill: transparent;
  }
  to {
    fill: var(--logo-fill-color);
  }
}


.animated-logo-svg {
  width: 200px;
  height: 200px;
  max-width: 60vw;
  max-height: 60vh;
  display: block;

  path {
    stroke-width: 5;
    stroke: var(--logo-stroke-color);
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: draw-line 2.5s ease-in-out forwards,
               fill-in 1s ease-out 2.5s forwards;
  }
}


:root,
[data-theme="light"] {
  --logo-fill-color: #c10000;
  --logo-stroke-color: #c10000;
}

[data-theme="dark"] {
  --logo-fill-color: #ff4d4d;
  --logo-stroke-color: #ff4d4d;
}
