.container {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;

  .bar {
    display: block;
    width: 100%;
    height: 10%; 
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
  }

  .bar:nth-child(1) {
    top: 0;
  }

  .bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .bar:nth-child(3) {
    bottom: 0;
  }

  &:hover {
    .bar:nth-child(1) {
      top: 25%;
    }

    .bar:nth-child(3) {
      bottom: 25%;
    }
  }
}

.container.active {
  .bar:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .bar:nth-child(2) {
    opacity: 0;
  }

  .bar:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
}
